<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsgt.pricing.mapper.CompetitorMapper">
    <resultMap id="competitorMap" type="org.hsgt.pricing.BO.Competitor" autoMapping="true">
        <id column="productId" property="productId"></id>
        <id column="shopName" property="shopName"></id>
        <result column="price" property="price1"></result>
        <result column="price" property="price2"></result>
<!--        <result column="datetime" property="datetime"></result>-->
        <association property="shippingGroup" javaType="org.hsgt.pricing.BO.ShippingGroup"
                     column="shippingGroupId"
                     select="org.hsgt.pricing.mapper.ShippingGroupMapper.selectById">
        </association>
    </resultMap>

    <select id="selectList" resultMap="competitorMap">
        select * from t_competition order by shopName
    </select>

    <select id="selectById" resultMap="competitorMap" parameterType="org.hsgt.pricing.BO.Competitor">
        select * from t_competition where productId=#{productId} and shopName=#{shopName}
    </select>

    <select id="findAllCompetitorByProductId" resultMap="competitorMap" parameterType="string">
        select * from t_competition where productId=#{productId}
    </select>

    <insert id="insert">
        insert into t_competition
        (productId, shopName, rank_, price, shipment, quantity, label, shippingGroupId, datetime) values
        (#{productId},#{shopName},#{rank},#{price2}, #{shippingGroup.unitCost},
        #{quantity},#{label}, #{shippingGroup.id}, #{datetime})
    </insert>

    <update id="updateById" parameterType="org.hsgt.pricing.BO.Competitor">
        update t_competition set
            productId=#{productId}, shopName=#{shopName}, rank_=#{rank}, price=#{price2}, shipment=#{shippingGroup.unitCost},
            quantity=#{quantity}, label=#{label}, datetime=NOW() where productId=#{productId} and shopName=#{shopName}
    </update>

    <delete id="deleteById" parameterType="string">
        delete from t_competition where productId=#{productId}
    </delete>

</mapper>