target
src/main/resources/hsgt/.cache
src/main/resources/application-prod.properties
src/main/resources/application-preprod.properties
src/main/resources/application-test.properties
.idea
logging
deploy-prod.bat
deploy-prod-office.bat
docker-compose*.yml

*.txt

