<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsgt.mappers.BulkEmailMapper">
    <select id="selectList" resultType="org.hsgt.entities.common.BulkEmailContact">
        select * from t_bulk_email order by email
    </select>

    <select id="selectById" resultType="org.hsgt.entities.common.BulkEmailContact">
        select * from t_bulk_email where email=#{email}
    </select>

    <insert id="insert">
        insert into t_bulk_email
        (email, firstName, lastName, subscribed, sentAt) values
        (#{email}, #{firstName}, #{lastName}, #{subscribed}, #{sentAt})
    </insert>

    <update id="updateById" parameterType="org.hsgt.entities.common.BulkEmailContact">
        update t_bulk_email set
            email=#{email}, firstName=#{firstName}, lastName=#{lastName}, subscribed=#{subscribed}, sentAt=#{sentAt}
            where email=#{email}
    </update>

    <delete id="deleteById" parameterType="org.hsgt.entities.common.BulkEmailContact">
        delete from t_bulk_email where email=#{email}
    </delete>

</mapper>
