<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hsgt.mappers.OfferMapper">

    <resultMap id="offerMap" type="org.hsgt.entities.pricing.Offer">
        <id property="id" column="productId"/>
        <association property="shippingGroup" column="shippingGroupId" javaType="org.hsgt.entities.common.ShippingGroup"
            select="org.hsgt.mappers.ShippingGroupMapper.selectById"/>
    </resultMap>

    <select id="selectList" resultMap="offerMap">
        select * from t_offer order by note, lowestPrice
    </select>

    <select id="selectById" resultMap="offerMap">
        select * from t_offer where productId=#{id}
    </select>

    <insert id="insert">
        insert into t_offer
            (productId, price, lowestPrice, productName, note, quantity, manufacturer, platform,
            amount, productKey, shippingGroupId, datetime, active) values
            (#{id}, #{price}, #{lowestPrice}, #{productName}, #{note}, #{quantity}, #{manufacturer}, #{platform},
            #{amount}, #{productKey}, #{shippingGroup.id}, NOW(), active)
    </insert>

    <update id="updateById" >
        update t_offer set productName=#{productName}, price=#{price}, quantity=#{quantity}, manufacturer=#{manufacturer},
            productKey=#{productKey}, shippingGroupId=#{shippingGroup.id}, datetime=NOW(), active=#{active} where productId=#{id}
    </update>

    <update id="updateLowestPriceAndNote">
        update t_offer set lowestPrice=#{lowestPrice}, note=#{note}, amount=#{amount} where productId=#{id}
    </update>

    <delete id="deleteById>">
        delete from t_offer where productId=#{id}
    </delete>

    <insert id="insertUpdatedPricingLog" parameterType="org.hsgt.entities.pricing.UpdatedOffer">
        insert into t_updated_offer
        (datetime, ip, productId, price, quantity, shippingGroupId, note, username) values
        (NOW(), #{ip}, #{offer.productId}, #{offer.price}, #{offer.quantity}, #{offer.shippingGroupId}, #{note}, #{username})
    </insert>
</mapper>