<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hsgt.mappers.UserMapper">
    <resultMap id="userResultMap" type="org.hsgt.entities.common.User" autoMapping="true">
        <id column="id" property="id"></id>
        <result column="roles" property="roles" javaType="List" jdbcType="VARCHAR"
        typeHandler="org.hsgt.mappers.typehandlers.RolesTypeHandler"/>
    </resultMap>

    <select id="selectById" resultMap="userResultMap">
        select * from t_user where id=#{id}
    </select>

    <select id="selectByName" resultMap="userResultMap">
        select * from t_user where username=#{username}
    </select>

    <select id="selectByToken" resultMap="userResultMap">
        select * from t_user where token=#{token}
    </select>

    <insert id="insert">
        insert into t_user
        (username, password, name, introduction, email, phone, roles) values
        (#{username}, #{password}, #{name}, #{introduction}, #{email}, #{phone}, #{roles})
    </insert>

    <update id="updateById">
        update t_user set username=#{username}, password=#{password},
        name=#{name},introduction=#{introduction},email=#{email},
        phone=#{phone},roles=#{roles} where id=#{id}
    </update>

    <select id="selectTokenById">
        select token from t_user where id=#{id}
    </select>

    <update id="updateTokenById">
        update t_user set token=#{token} where id=#{userId}
    </update>

</mapper>