<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hsgt.core.mapper.SystemConfigureMapper">

    <resultMap id="sysConfigMap" type="org.hsgt.core.domain.SystemConfigure">
        <id column="variable" property="variable"/>
        <result column="value" property="value" />
        <result column="set_time" property="setTime" />
        <result column="set_by" property="setBy" />
        <result column="note" property="note" />
    </resultMap>

    <select id="selectById" resultMap="sysConfigMap">
        select * from t_sys_config where variable=#{id}
    </select>
</mapper>